{% extends "layout.html" %}
{% block title %}Contact View{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
	<a href="{{ request.route_url('contact_book') }}">Back</a> |
	<a href="{{ request.route_url('contact_edit', uid=contact._id) }}">Edit</a> |
	<a href="{{ request.route_url('contact_delete', uid=contact._id) }}">Delete</a>

	<h2>{{ contact.name }}</h2>
	<p>Adress: {{ contact.adress }}, {{ contact.city }}/{{ contact.state }}, {{ contact.country }}</p>
	<p class="important"> Phone numbers: </p>
	<p class="important" style="margin-left:2%"> {{ contact.phones[0].number1 }} {{ '('+contact.phones[0].phoneIdentifier1+')' }}</p>
	<p class="important" style="margin-left:2%"> {{ contact.phones[1].number2 }} {{ '('+contact.phones[1].phoneIdentifier2+')' }}</p>
	<p class="important" style="margin-left:2%"> {{ contact.phones[2].number3 }} {{ '('+contact.phones[2].phoneIdentifier3+')' }}</p>
	<p> E-mail adresses: </p>
	<p style="margin-left:2%"> {{ contact.emails[0].emailAdress1 }} {#<a href="/email/{{ contact._id }}/{{ contact.emails[0].emailAdress1 }}">Send email</a></p>#}
	<p style="margin-left:2%"> {{ contact.emails[1].emailAdress2 }} {#<a href="/email/{{ contact._id }}/{{ contact.emails[1].emailAdress2 }}">Send email</a></p>#}
	<p style="margin-left:2%"> {{ contact.emails[2].emailAdress3 }} {#<a href="/email/{{ contact._id }}/{{ contact.emails[2].emailAdress3 }}">Send email</a></p>#}
	<p>Birthday: {{ contact.birthday }}</p>
{% endblock %}