{% extends "layout.html" %}
{% block title %}Contact View{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
	<a href="{{ request.route_url('contact_book') }}">Back</a> |
	<a href="{{ request.route_url('contact_edit', uid=contact.uid) }}">Edit</a> |
	<a href="{{ request.route_url('contact_delete', uid=contact.uid) }}">Delete</a>

	<h2>{{ contact.name }}</h2>
	<p>Adress: {{ contact.adress }}</p>
	<p class="important">Phone number: {{ contact.phone }}</p>
	<p>E-mail: {{ contact.email }}</p>	
	<p>Birthday: {{ contact.birthday }}</p>
{% endblock %}